<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sudoersConfig</key>
	<array>
		<string># Amazon Scan-Nix</string>
		<string>scan-nix ALL=(root) NOPASSWD: /usr/local/bin/logbash</string>
	</array>
	<key>userAttrDict</key>
	<dict>
		<key>NFSHomeDirectory</key>
		<string>/var/compliance</string>
		<key>RecordName</key>
		<string>scan-nix</string>
		<key>Password</key>
		<string>*</string>
		<key>RealName</key>
		<string>Amazon Scan-Nix</string>
		<key>UniqueID</key>
		<string>700</string>
		<key>PrimaryGroupID</key>
		<string>-2</string>
		<key>UserShell</key>
		<string>/usr/local/bin/logbash</string>
	</dict>
	<key>userAttrRemovalDict</key>
	<array>
		<string>AuthenticationAuthority</string>
		<string>KerberosKeys</string>
		<string>ShadowHashData</string>
		<string>PasswordPolicyOptions</string>
	</array>
</dict>
</plist>
