<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>2.9</string>
	<key>azProductIdentifier</key>
	<string>com.amazon.acme</string>
	<key>ntpServer</key>
	<string>ntp.corp.amazon.com</string>
	<key>adDomain</key>
	<string>ant.amazon.com</string>
	<key>adOU</key>
	<string>OU=Workstations,DC=ant,DC=amazon,DC=com</string>
	<key>adDomainSearchPath</key>
	<string>/Active Directory/ANT/All Domains</string>
	<key>adShouldScheduleRestart</key>
	<false/>
	<key>adMinutesBeforeRestart</key>
	<integer>3</integer>
	<key>maxTriesForBinding</key>
	<integer>4</integer>
	<key>maxTriesBeforeComputerNameChange</key>
	<integer>2</integer>
	<key>adTestUserName</key>
	<string>yyadd1</string>
	<key>adTestUserId</key>
	<string>1353148190</string>
	<key>adPluginOptionsDict</key>
	<dict>
		<key>enableMobileHome</key>
		<string>enable</string>
		<key>confirmMobileHome</key>
		<string>disable</string>
		<key>localHome</key>
		<string>enable</string>
		<key>useUncPath</key>
		<string>disable</string>
		<key>shell</key>
		<string>/bin/bash</string>
		<key>groups</key>
		<string>Opr-WksAdmins,Domain Admins,Enterprise Admins,admin-client-engineering,admin-clieng-audit,admin-corpinfosec,admin-deskside-security,admin-deskside-na,admin-deskside-as,admin-deskside-eu,admin-client-tools,admin-deskside-helpdesk</string>
		<key>allDomains</key>
		<string>enable</string>
		<key>passInterval</key>
		<string>0</string>
	</dict>
	<key>sshConfigFilePath</key>
	<string>/private/etc/ssh_config</string>
	<key>sshConfigFilePathNew</key>
	<string>/private/etc/ssh/ssh_config</string>
	<key>kerberosConfigFilePath</key>
	<string>/private/etc/krb5.conf</string>
	<key>kerberosLegacyConfigFilePath</key>
	<string>/Library/Preferences/edu.mit.Kerberos</string>
	<key>kerberosConfigFileContentArray</key>
	<array>
		<string>[libdefaults]</string>
		<string>udp_preference_limit = 1</string>
		<string>renewable = true</string>
		<string>renew_lifetime = 36000</string>
		<string>forwardable = false</string>
		<string>default_realm=ANT.AMAZON.COM</string>
	</array>
	<key>prefsFile</key>
	<string>~/Library/Preferences/__azIdentifier__.plist</string>
	<key>socketPaths</key>
	<dict>
		<key>adtool</key>
		<dict>
			<key>launchd</key>
			<string>/private/var/run/com.amazon.acme.helper.adtool.launchd</string>
			<key>toHelper</key>
			<string>/private/var/run/com.amazon.acme.adtool.toHelper</string>
			<key>fromHelper</key>
			<string>/private/tmp/com.amazon.acme.adtool.fromHelper</string>
		</dict>
		<key>detool</key>
		<dict>
			<key>launchd</key>
			<string>/private/var/run/com.amazon.acme.helper.detool.launchd</string>
			<key>toHelper</key>
			<string>/private/var/run/com.amazon.acme.detool.toHelper</string>
			<key>fromHelper</key>
			<string>/private/tmp/com.amazon.acme.detool.fromHelper</string>
		</dict>
		<key>accounttool</key>
		<dict>
			<key>launchd</key>
			<string>/private/var/run/com.amazon.acme.helper.accounttool.launchd</string>
			<key>toHelper</key>
			<string>/private/var/run/com.amazon.acme.accounttool.toHelper</string>
			<key>fromHelper</key>
			<string>/private/tmp/com.amazon.acme.accounttool.fromHelper</string>
		</dict>
	</dict>
	<key>configProfilePath</key>
	<string>~/Library/Preferences/__azIdentifier__.configProfile.mobileconfig</string>
	<key>privateKeyPath</key>
	<string>~/Library/Preferences/__azIdentifier__.privateKey.key</string>
	<key>certRequestPath</key>
	<string>~/Library/Preferences/__azIdentifier__.certificateRequest.csr</string>
	<key>p12FilePath</key>
	<string>~/Library/Preferences/__azIdentifier__.p12File.p12</string>
	<key>trustedCAsDir</key>
	<string>/usr/local/amazon/var/acme/ca</string>
	<key>localAdminAccountConfigDict</key>
	<dict>
		<key>adminPasswordRotationInterval</key>
		<integer>7776000</integer>
		<key>defaultAdminUserPasswordHash</key>
		<string>62706c69 73743030 d101025f 10145341 4c544544 2d534841 3531322d 50424b44 4632d303 04050607 08547361 6c745765 6e74726f 70795a69 74657261 74696f6e 734f1020 4fd26e7b 8df85eb0 fff13004 8f348349 1b3dba73 2a884ba6 f5bdccf4 6bdd2094 4f10806d 4ff37b2c 2ccdbfd1 0461b59b 0a7e35e6 9d2632a1 bda4704a d64515a9 cab25aa8 cebe1800 bedef384 1a821a14 511d8b9e c49c186b c3ff3025 98a52aff 0347bccb d1ad192f bedb91a2 0ca569de 34c7700d 9ca61db7 0e3e2d96 61df058d 945dd1eb 1215ce01 d2a40c3a 83c8d100 6f903edb eea99e03 e33acce5 3bde1e2e 89581211 9db1080b 22292e36 4164e700 00000000 00010100 00000000 00000900 00000000 00000000 00000000 0000ea</string>
		<key>idealMaximumLifeOfDefaultAdminPassword</key>
		<integer>1209600</integer>
		<key>localAdminAccountAttrDict</key>
		<dict>
			<key>RecordName</key>
			<string>admin</string>
			<key>RealName</key>
			<string>admin</string>
			<key>UserShell</key>
			<string>/bin/bash</string>
			<key>NFSHomeDirectory</key>
			<string>/Users/admin</string>
			<key>PrimaryGroupID</key>
			<integer>20</integer>
			<key>UniqueID</key>
			<integer>701</integer>
		</dict>
		<key>pubKeyFilePath</key>
		<string>/usr/local/amazon/var/acme/local-admin-password-public-key.pem</string>
		<key>historyPrefsPath</key>
		<string>/private/var/db/com.amazon.LocalAdminPassword.plist</string>
	</dict>
	<key>fileVaultConfigDict</key>
	<dict>
		<key>initialSecureTokenAdmin</key>
		<string>tokenadmin</string>
		<key>initialSecureTokenPass</key>
		<string>filevault</string>
		<key>diskPasswordRotationInterval</key>
		<real>7776000</real>
		<key>idealMaximumLifeOfDefaultPassword</key>
		<integer>1209600</integer>
		<key>defaultDiskPassword</key>
		<string>BootMe!</string>
		<key>pubKeyFilePath</key>
		<string>/usr/local/amazon/var/acme/disk-password-public-key.pem</string>
		<key>historyPrefsPath</key>
		<string>/private/var/db/com.amazon.DiskPassword.plist</string>
		<key>historyPrefsPathBackup</key>
		<string>/private/var/log/detoolHistory</string>
		<key>exemptionSemaphore</key>
		<string>/private/var/db/.FV2Exempt</string>
		<key>exemptMacIdentifiers</key>
		<array>
			<string>Xserve</string>
			<string>MacPro</string>
			<string>iMac</string>
			<string>Macmini</string>
			<string>VM</string>
		</array>
	</dict>
	<key>badCertificateAuthorityList</key>
	<array>
		<string>F17F6FB631DC99E3A3C87FFE1CF1811088D96033</string>
		<string>B435D4E1119D1C6690A749EBB394BD637BA782B7</string>
		<string>7998A308E14D6585E6C21E153A719FBA5AD34AD9</string>
		<string>C060ED44CBD881BD0EF86C0BA287DDCF8167478C</string>
		<string>4F99AA93FB2BD13726A1994ACE7FF005F2935D1E</string>
	</array>
	<key>identityPrefRemovalsList</key>
	<array>
		<string>com.apple.network.eap.user.identity.wlan.ssid.wpa2</string>
		<string>com.apple.network.eap.user.identity.wlan.ssid.asin282</string>
	</array>
	<key>certificateExtensionsDict</key>
	<dict>
		<key>trustedCertificateAuthorities</key>
		<array>
			<string>Amazon.com Corporate Systems Certificate Authority</string>
			<string>Amazon Corporate Systems Certificate Authority G2 01</string>
			<string>Amazon Corporate Systems Certificate Authority G2 02</string>
			<string>Amazon.com CIA CA G3 01</string>
			<string>Amazon.com CIA CA G3 02</string>
			<string>Amazon.com Internal Root Certificate Authority</string>
		</array>
		<key>expirationThreshold</key>
		<string>10368000</string>
		<key>expectedExtensions</key>
		<array>
			<string>Digital Signature</string>
			<string>Key Encipherment</string>
		</array>
	</dict>
	<key>identityDetailsDict</key>
	<dict>
		<key>keyBits</key>
		<string>2048</string>
		<key>keyHash</key>
		<string>sha256</string>
		<key>identityNameRecipe</key>
		<string>__userName__.amazon.identity</string>
	</dict>
	<key>caRequestDetailsDict</key>
	<dict>
		<key>emailCertTemplate</key>
		<string>AmazonUserEmail</string>
		<key>userCertTemplate</key>
		<string>AmazonUser</string>
		<key>machineCertTemplate</key>
		<string>AmazonComputer</string>
		<key>requestURL</key>
		<string>https://certificaterequest.ant.amazon.com/request</string>
	</dict>
	<key>openSSLConf</key>
	<dict>
		<key>countryName</key>
		<string>US</string>
		<key>stateOrProvinceName</key>
		<string>Washington</string>
		<key>organizationName</key>
		<string>Amazon.com</string>
		<key>organizationalUnitName</key>
		<string>Corporate Systems</string>
		<key>basicConstraints</key>
		<string>CA:FALSE</string>
		<key>keyUsage</key>
		<string>nonRepudiation, digitalSignature, keyEncipherment</string>
	</dict>
	<key>wifiSsidList</key>
	<array>
		<string>wpa2</string>
		<string>asin282</string>
		<string>asin324</string>
	</array>
	<key>adEmployeeTypesAttribute</key>
	<string>dsAttrTypeNative:employeeType</string>
	<key>adManagedByAttribute</key>
	<string>managedBy</string>
	<key>approvedAdminEmployeeTypes</key>
	<array>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>R</string>
		<string>X</string>
	</array>
</dict>
</plist>
