<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3PPatch</key>
	<dict>
		<key>command</key>
		<string>__azModulesDir__/patches_module.py --thirdparty</string>
		<key>canIsolate</key>
		<true/>
		<key>isEnabled</key>
		<true/>
		<key>canBeDisabled</key>
		<true/>
		<key>disabledReason</key>
		<string></string>
		<key>isolationCandidatePoint</key>
		<dict>
			<key>grace-from-nonCompliantPoint</key>
			<real>259200</real>
		</dict>
		<key>nonCompliantPoint</key>
		<dict>
			<key>date-due</key>
			<date>2213-05-13T22:54:26Z</date>
			<key>max-grace</key>
			<real>345600</real>
			<key>min-grace</key>
			<integer>120</integer>
		</dict>
		<key>outputFile</key>
		<string>__azModuleOutputDir__/__azProductIdentifier__.3PPatch.plist</string>
	</dict>
	<key>Crypto</key>
	<dict>
		<key>command</key>
		<string>__azModulesDir__/crypto_module.py</string>
		<key>canIsolate</key>
		<true/>
		<key>isEnabled</key>
		<true/>
		<key>canBeDisabled</key>
		<true/>
		<key>disabledReason</key>
		<string></string>
		<key>isolationCandidatePoint</key>
		<dict>
			<key>grace-from-nonCompliantPoint</key>
			<integer>172800</integer>
		</dict>
		<key>nonCompliantPoint</key>
		<dict>
			<key>date-due</key>
			<date>2213-05-13T22:54:26Z</date>
			<key>max-grace</key>
			<integer>3600</integer>
			<key>min-grace</key>
			<integer>120</integer>
		</dict>
		<key>outputFile</key>
		<string>__azModuleOutputDir__/__azProductIdentifier__.Crypto.plist</string>
	</dict>
	<key>Firewall</key>
	<dict>
		<key>command</key>
		<string>/usr/local/amazon/bin/firewalltool</string>
		<key>canIsolate</key>
		<false/>
		<key>isEnabled</key>
		<true/>
		<key>canBeDisabled</key>
		<false/>
		<key>outputFile</key>
		<string>__azModuleOutputDir__/__azProductIdentifier__.Firewall.plist</string>
	</dict>
	<key>Malware</key>
	<dict>
		<key>command</key>
		<string>__azModulesDir__/malware_module.py</string>
		<key>canIsolate</key>
		<false/>
		<key>isEnabled</key>
		<true/>
		<key>canBeDisabled</key>
		<false/>
		<key>outputFile</key>
		<string>__azModuleOutputDir__/__azProductIdentifier__.Malware.plist</string>
	</dict>
	<key>Management</key>
	<dict>
		<key>command</key>
		<string>__azModulesDir__/unknownCommand</string>
		<key>canIsolate</key>
		<false/>
		<key>isEnabled</key>
		<false/>
		<key>canBeDisabled</key>
		<false/>
		<key>isolationCandidatePoint</key>
		<dict>
			<key>grace-from-nonCompliantPoint</key>
			<integer>172800</integer>
		</dict>
		<key>nonCompliantPoint</key>
		<dict>
			<key>date-due</key>
			<date>2213-05-13T22:54:26Z</date>
			<key>max-grace</key>
			<integer>3600</integer>
			<key>min-grace</key>
			<integer>10</integer>
		</dict>
		<key>notes</key>
		<string></string>
		<key>outputFile</key>
		<string>__azModuleOutputDir__/__azProductIdentifier__.Management.plist</string>
	</dict>
	<key>OSPatch</key>
	<dict>
		<key>command</key>
		<string>__azModulesDir__/patches_module.py --firstparty</string>
		<key>canIsolate</key>
		<true/>
		<key>isEnabled</key>
		<true/>
		<key>canBeDisabled</key>
		<true/>
		<key>disabledReason</key>
		<string></string>
		<key>isolationCandidatePoint</key>
		<dict>
			<key>grace-from-nonCompliantPoint</key>
			<real>259200</real>
		</dict>
		<key>nonCompliantPoint</key>
		<dict>
			<key>date-due</key>
			<date>2213-05-13T22:54:26Z</date>
			<key>max-grace</key>
			<real>345600</real>
			<key>min-grace</key>
			<integer>120</integer>
		</dict>
		<key>outputFile</key>
		<string>__azModuleOutputDir__/__azProductIdentifier__.OSPatch.plist</string>
	</dict>
	<key>Version</key>
	<string>1.5.0.2</string>
	<key>modules</key>
	<array>
		<string>Crypto</string>
		<string>OSPatch</string>
		<string>3PPatch</string>
		<string>Malware</string>
		<string>Firewall</string>
		<string>Management</string>
	</array>
</dict>
</plist>
